*{margin:0;padding:0;}
/* 웹폰트 CSS */
@font-face {
	font-family:'NanumGothic';
	src: url('../font/NanumGothic.eot');
    src: url('../font/NanumGothic.eot?#iefix') format('embedded-opentype'),         
         url('../font/NanumGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {font-size:14px; margin : 0 auto;}

p, h1, h2, h3, h4, h5, input, textarea, table, a, ul, li, span, div{
	font-family:"나눔고딕","NanumGothic";
	margin:0;
	font-weight:normal;
}
#wrap {
	width:100%;
}


/* nav */
.sub_nav_all {
	width:100%;
	text-align:center;
}
.sub_nav {
	width:1020px;
	display:inline-block;
	height:90px;
}
.logo {
	float:left;
	margin:14px 0 0 0;
}
.sub_nav ul {
	float:right;
	text-align:right;
	list-style:none;
	display:inline-block;
	margin:32px 0 0 0;
}
.sub_nav ul li {
	font-size: 14px;
	font-weight:bold;
	color:#6d6e6f;
	text-decoration:none;
	display:inline-block;
	padding-left:56px;
	vertical-align:middle;
}
.sub_nav ul li a {
	font-size: 14px;
	font-weight:bold;
	color:#6d6e6f;
	text-decoration:none;
}
.sub_nav ul li a:visited {font-size:14px; font-weight:bold; color:#6d6e6f; TEXT-DECORATION: none}
.sub_nav ul li a:active {font-size:14px; font-weight:bold; color:#6d6e6f; TEXT-DECORATION: none}
.sub_nav ul li a:hover {font-size:14px; font-weight:bold; color:#f58220; TEXT-DECORATION: none}

.sub_nav .nav_select {
	font-size: 14px;
	font-weight:bold;
	color:#f58220;
	text-decoration:none;
}

/* intro_img */
#head_img {
	width:100%;
	height:260px;
	background-color:#808992;
	text-align:center;
	display:inline-block;
}
.head_img_inner {
	background:url(../images/sub_img07.png) center center no-repeat;
	width:1100px;
	height:260px;
	text-align:center;
	display:inline-block;
}
.head_text {
	text-align:left;
	width:1020px;
	display:inline-block;
	margin:106px 0 0 0px;
}
.maintitle {
	font-size:44px;
	color:#ffffff;
	line-height:44px;
	font-weight:bold;
}
.sub_text {
	padding-top:10px;
	font-size:20px;
	color:#ffffff;
	line-height:30px;
	font-weight:normal;
}

/* container1 */
#container1 {
	width:100%;
	text-align:center;
}
.container1_inner {
	width:1020px;
	display:inline-block;
	text-align:left;
	padding-top:90px;
	padding-bottom:90px;
}
#container1 .s_title {
	font-size:27px;
	color:#2c3e50;
	line-height:40px;
	font-weight:bold;
	padding-bottom:50px;
}
#container1 .text1 {
	font-size:16px;
	line-height:26px;
	color:#666666;
	text-align:left;
	font-weight:normal;
}

/* footer */
#footer{
	border-top:2px solid #d7d7d7;
	width:100%;
	height:210px;
	text-align:center;
}
.footer_menu {
	background-color:#f0f1f2;
	font-size:13px;
	color:#797979;
	line-height:19px;
	height:50px;
	padding:15px 0;
}
.footer_menu a {
	font-size:13px;
	color:#797979;
	line-height:19px;
}
.footer_menu a:visited {font-size:13px; line-height:19px; color:#797979; TEXT-DECORATION: none}
.footer_menu a:active {font-size:13px; line-height:19px; color:#797979; TEXT-DECORATION: none}
.footer_menu a:hover {font-size:13px; line-height:19px; color:#333333; TEXT-DECORATION: none}

.footertext {
	font-size:12px;
	color:#797979;
	line-height:19px;
	margin:30px;
	letter-spacing:-0.2pt;
	font-weight:normal;
}